<div id="layoutSidenav">
  
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <!--Conteudo-->
        <div class="cantainer">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">
                    Cadastro Produto
                  </h3>
                </div>
                <div class="card-body">
                  <form *ngIf="produto">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input
                            class="form-control"
                            type="text"
                            id="nome"
                            name="nome"
                            [(ngModel)]="produto.nome"
                          />
                          <label for="nome">Nome</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating">
                          <input
                            class="form-control"
                            type="text"
                            id="valor"
                            name="valor"
                            [(ngModel)]="produto.valor"
                          />
                          <label for="valor">Valor</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-floating">
                      <input
                        class="form-control"
                        type="text"
                        id="descricao"
                        name="descricao"
                        [(ngModel)]="produto.desc"
                      />
                      <label for="descricao">Descrição</label>
                    </div>
                    <div class="mt-4 mb-0">
                      <div class="d-grid">
                        <button class="btn btn-primary btn-block" type="button" (click)="salvar()">
                          Salvar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
