<div class="d-flex justify-content-between align-items-center m-5">
    <div class="align-self-between">
        <p>Nome: <span>{{ loja?.nome }}</span></p>
        <p>Endereço: <span>{{ loja?.logradouro }}, {{ loja?.numero }} - {{ loja?.bairro }}, {{ loja?.cidade }} - {{ loja?.estado }}, {{ loja?.cep }}</span></p>
        <p>Observação: <span>{{ loja?.observacao }}</span></p>
    </div>

    <google-map 
    height="600px" 
                width="900px" 
                [center]="center" 
                [zoom]="zoom">
        <map-marker #marker="mapMarker" 
                    *ngFor="let markerPosition of markerPositions"
                    [position]="markerPosition"></map-marker>
    </google-map>
</div>