<!-- <div class="container_main">
  <div cdkDropList class="example-list container_dd" (cdkDropListDropped)="drop($event)">
    <div class ="example-box container_image" *ngFor="let movie of movies" cdkDrag><img src="https://tse4.explicit.bing.net/th?id=OIP.egXeWyAxn8ZAMw9gumCthAHaHa&pid=Api&P=0"></div>
  </div>
</div> -->

<div id="layoutSidenav">

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <!--Conteudo-->
        <div class="cantainer">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">
                    Criar campanha
                  </h3>
                </div>
                <div class="card-body">
          <!-- =========[ Começo do form ] ========= -->
                  <!-- <form #form="ngForm" aqui_precisa_de_NGIF> -->
                  <form [formGroup]="cadastroForm" (ngSubmit)="criarCampanha()">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="nome" name="nome"
                            formControlName="nome"/>
                          <label for="nome">Nome</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-floating">
                          <input
                            class="form-control"
                            type="text"
                            id="valor"
                            name="descricao"
                            formControlName="descricao"
                          />
                          <label for="valor">Descrição</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-floating">
                          <input
                            class="form-control"
                            type="text"
                            id="valor"
                            name="descricao"
                            formControlName="urlImg"
                          />
                          <label for="valor">Url da imagem</label>
                        </div>
                      </div>
                    </div>

                    <div class="mt-4 mb-0">
                      <div class="d-grid">
                        <button class="btn btn-primary btn-block" type="submit">
                          Salvar
                        </button>
                        <button class="btn btn-primary btn-block" type="button" >
                          Cancelar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
