<div id="layoutSidenav">

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <!--Conteudo-->
        <div class="cantainer">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">
                    Cadastro Cliente
                  </h3>
                </div>
                <div class="card-body">
                  <form *ngIf="cliente">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="nome" name="nome" [(ngModel)]="cliente.nome" />
                          <label for="nome">Nome</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-floating">
                          <input class="form-control" type="text" id="telefone" name="telefone"
                            [(ngModel)]="cliente.telefone" />
                          <label for="telefone">Telefone</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" type="text" id="email" name="email" [(ngModel)]="cliente.email" />
                      <label for="nome">Email</label>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="cpf" name="cpf" [(ngModel)]="cliente.cpf" />
                          <label for="cpf">CPF</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="cep" name="cep" [(ngModel)]="cliente.cep"
                            (change)="consultaCep($event)" [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                          <label for="CEP">CEP</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="logradouro" name="logradouro"
                            [(ngModel)]="cliente.logradouro" [disabled]="true"
                            [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                          <label for="logradouro">Logradouro</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="estado" name="estado" [(ngModel)]="cliente.estado"
                            [disabled]="true" [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                          <label for="nome">Estado</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="cidade" name="cidade" [(ngModel)]="cliente.cidade"
                            [disabled]="true" [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                          <label for="cidade">Cidade</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="bairro" name="bairro" [(ngModel)]="cliente.bairro"
                            [disabled]="true" [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                          <label for="bairro">Bairro</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="numero" name="numero"
                            [(ngModel)]="cliente.numero" />
                          <label for="numero">Número</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" type="text" id="complemento" name="complemento"
                            [(ngModel)]="cliente.complemento" />
                          <label for="complemento">complemento</label>
                        </div>
                      </div>
                    </div>
                    <div class="mt-4 mb-0">
                      <div class="d-grid">
                        <button class="btn btn-primary btn-block" type="button" (click)="salvar()">
                          Salvar
                        </button>
                        <button class="btn btn-primary btn-block" type="button" (click)="cancelar()">
                          Cancelar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>